data/nodered/flows.json
[
    {
        "id": "2e7851c4f73fbb16",
        "type": "tab",
        "label": "Feuchtesensoren D1 mini",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20fa8eb635fa2ae0",
        "type": "mqtt in",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "topic": "capsense/ECE3348E7474/sensor/1/moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ab1fc8e3f8049b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "76396474b8d9e587",
                "c95aa8ef150c949a"
            ]
        ]
    },
    {
        "id": "76396474b8d9e587",
        "type": "ui_text",
        "z": "2e7851c4f73fbb16",
        "group": "125c66f65040d0f1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feuchte Sensor 1",
        "format": "{{msg.payload.scaled}} % | {{msg.payload.raw}} mV",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "4db4b67fbe222680",
        "type": "ui_text",
        "z": "2e7851c4f73fbb16",
        "group": "125c66f65040d0f1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feuchte Sensor 2",
        "format": "{{msg.payload.scaled}} % | {{msg.payload.raw}} mV",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "b5b4838d341ad554",
        "type": "mqtt in",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "topic": "capsense/ECE3348E7474/sensor/2/moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ab1fc8e3f8049b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "4db4b67fbe222680",
                "c95aa8ef150c949a"
            ]
        ]
    },
    {
        "id": "2addf3883c47d810",
        "type": "mqtt in",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "topic": "capsense/ECE3348E7474/sensor/3/moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ab1fc8e3f8049b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "7c0fff0bb7dab488",
                "c95aa8ef150c949a"
            ]
        ]
    },
    {
        "id": "7c0fff0bb7dab488",
        "type": "ui_text",
        "z": "2e7851c4f73fbb16",
        "group": "125c66f65040d0f1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feuchte Sensor 3",
        "format": "{{msg.payload.scaled}} % | {{msg.payload.raw}} mV",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "84a424d14a8185bf",
        "type": "mqtt in",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "topic": "capsense/ECE3348E7474/sensor/4/moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ab1fc8e3f8049b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "6d6dacd49e3e2d2d",
                "c95aa8ef150c949a",
                "c44d819c3e5aa9ce"
            ]
        ]
    },
    {
        "id": "6d6dacd49e3e2d2d",
        "type": "ui_text",
        "z": "2e7851c4f73fbb16",
        "group": "125c66f65040d0f1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feuchte Sensor 4",
        "format": "{{msg.payload.scaled}} % | {{msg.payload.raw}} mV",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "c95aa8ef150c949a",
        "type": "ui_chart",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "f5365fc1fce4f191",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7587fd27f7a8f40e",
        "type": "function",
        "z": "2e7851c4f73fbb16",
        "name": "function 1",
        "func": "// Zerlege das Topic: capsense/<device_id>/sensor/<sensor_id>/moisture\nconst parts = msg.topic.split(\"/\");\n\nconst device_id = parts[1];\nconst sensor_id = parts[3];\nconst value = msg.payload.scaled;\n\nmsg.payload = [\n  {\n    measurement: \"moisture\",\n    tags: {\n      device_id: device_id,\n      sensor_id: sensor_id\n    },\n    fields: {\n      value: parseFloat(value)\n    },\n    // timestamp ist optional; wenn weggelassen, nimmt Influx aktuelle Zeit\n  }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "95f1a30da11950a2",
                "8e6c6d116926887a"
            ]
        ]
    },
    {
        "id": "96c78ddc07a86389",
        "type": "mqtt in",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "topic": "capsense/+/sensor/+/moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ab1fc8e3f8049b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 800,
        "wires": [
            [
                "7587fd27f7a8f40e"
            ]
        ]
    },
    {
        "id": "be5f7032f7b175e3",
        "type": "comment",
        "z": "2e7851c4f73fbb16",
        "name": "alle capsense werte in datenbank schreiben. wird nach geraete id gesplitted.",
        "info": "rte in datenbank schreiben.\n",
        "x": 370,
        "y": 760,
        "wires": []
    },
    {
        "id": "8e6c6d116926887a",
        "type": "influxdb batch",
        "z": "2e7851c4f73fbb16",
        "influxdb": "cb86610465601817",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 800,
        "wires": []
    },
    {
        "id": "95f1a30da11950a2",
        "type": "debug",
        "z": "2e7851c4f73fbb16",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 900,
        "wires": []
    },
    {
        "id": "fd8cbfc9b7784fa7",
        "type": "influxdb in",
        "z": "2e7851c4f73fbb16",
        "influxdb": "cb86610465601817",
        "name": "",
        "query": "SELECT * FROM moisture WHERE  time > now() - 7d",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "3b24f099897e9505"
            ]
        ]
    },
    {
        "id": "3b24f099897e9505",
        "type": "csv",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "fcdfb71b8618b7d8"
            ]
        ]
    },
    {
        "id": "fcdfb71b8618b7d8",
        "type": "http response",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3f95be45fbd527f9",
        "type": "comment",
        "z": "2e7851c4f73fbb16",
        "name": "alle capsense werte von konkretem geraet ECE... in ui darstellen",
        "info": "\n",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b92c34ef0ee6099",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 1: Trocken",
        "tooltip": "Kalibrierwert für Trocken setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0;dry",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1150,
        "y": 120,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "06b58be509a0f827",
        "type": "mqtt out",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "topic": "capsense/ECE3348E7474/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ab1fc8e3f8049b3",
        "x": 1510,
        "y": 120,
        "wires": []
    },
    {
        "id": "c44d819c3e5aa9ce",
        "type": "debug",
        "z": "2e7851c4f73fbb16",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "d73915c155d17a48",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 1: Nass",
        "tooltip": "Kalibrierwert für Nass setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0;wet",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "c890dff6a84905c2",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 2: Trocken",
        "tooltip": "Kalibrierwert für Trocken setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1;dry",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "aeefa47ecad8d108",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 2: Nass",
        "tooltip": "Kalibrierwert für Nass setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1;wet",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "c1bd5accd026324d",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 3: Trocken",
        "tooltip": "Kalibrierwert für Trocken setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2;dry",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "e84b6906a5aef29e",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 3: Nass",
        "tooltip": "Kalibrierwert für Nass setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2;wet",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1140,
        "y": 320,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "485ff2199569ddbd",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 4: Trocken",
        "tooltip": "Kalibrierwert für Trocken setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3;dry",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1150,
        "y": 360,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "ff2665c16873db4b",
        "type": "ui_button",
        "z": "2e7851c4f73fbb16",
        "name": "",
        "group": "b708777cb0bdb84f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibr. Sensor 4: Nass",
        "tooltip": "Kalibrierwert für Nass setzen",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3;wet",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "06b58be509a0f827"
            ]
        ]
    },
    {
        "id": "f4098dfd7fb25f99",
        "type": "ui_spacer",
        "z": "2e7851c4f73fbb16",
        "name": "spacer",
        "group": "125c66f65040d0f1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "90d90fe2681f593d",
        "type": "ui_spacer",
        "z": "2e7851c4f73fbb16",
        "name": "spacer",
        "group": "125c66f65040d0f1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "53fafefb2ae548f1",
        "type": "ui_spacer",
        "z": "2e7851c4f73fbb16",
        "name": "spacer",
        "group": "125c66f65040d0f1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "3ab1fc8e3f8049b3",
        "type": "mqtt-broker",
        "name": "lokalerMQTT",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "125c66f65040d0f1",
        "type": "ui_group",
        "name": "Erdetest 1 (ID=ECE3348E7474)",
        "tab": "600e9eaf1b4b3596",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5365fc1fce4f191",
        "type": "ui_group",
        "name": "Kurve",
        "tab": "600e9eaf1b4b3596",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb86610465601817",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "mydb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": false
    },
    {
        "id": "b708777cb0bdb84f",
        "type": "ui_group",
        "name": "Erdetest 1 (ID=ECE3348E7474)",
        "tab": "1c82eea3018f8f95",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "600e9eaf1b4b3596",
        "type": "ui_tab",
        "name": "Feuchte D1mini",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1c82eea3018f8f95",
        "type": "ui_tab",
        "name": "Feuchte D1 Mini Kalibrierung",
        "icon": "fa-wrench",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]